.about {
    background-color: aqua;
    margin: 50px;
    cursor: pointer;
    border-radius: 20px;
    border: solid;
    height: 70px;
    width: 120px;
}
.about:hover{
    background-color: pink;
    opacity: 0.4;
}
.about:active{
    opacity: 0.6;
}
.contact {
    background-color: tomato;
    margin: 50px;
    cursor: pointer;
    border-radius: 20px;
    border: solid;
    height: 70px;
    width: 120px;
}
.contact:hover{
    background-color: orange;
    opacity: 0.4;
}
.contact:active{
    opacity: 0.6;
}
.news {
    background-color: violet;
    margin: 50px;
    cursor: pointer;
    border-radius: 20px;
    border: solid;
    height: 70px;
    width: 120px;


}
.news:hover{
    background-color: midnightblue;
    opacity: 0.4;
}
.news:active{
    opacity: 0.6;
}
.home {
    background-color: wheat;
    margin: 50px;
    cursor: pointer;
    border-radius: 20px;
    border: solid;
    height: 70px;
    width: 120px;
}
.home:hover{
    background-color: salmon;
    opacity: o.4;
}
.home:active{
    opacity: 0.6;
}
.header {
    align-items: center;
    background-color: rgb(60, 182, 182);
}
img {
    margin-left: 1200px;
    width: 300px;
    height: 15rem;
    border: solid rgb(120, 196, 8);
    border-radius: 30%;
    background-color: tomato;
    margin: auto;
    cursor: pointer;
    box-shadow: rgb(114, 24, 199);
}
.jani {
    height: 20rem;

}
h4{
    color: olive;
}
.kk {
    width:30%;  
    display:inline-block;
  }
  .bg {
      background-color: teal;
      border: wheat solid;
      cursor: pointer;
  }
  .bg:hover{
      transition: 2s;
      transition-property: all;
  }
  h3 {
      color:blue;
      text-align: center;
  }
  .zz {
      align-items: center;
      background-color: darkgrey;
  }
  .yy {
      align-items: center;
      background-color: goldenrod;
  }
  body{
    justify-content: center;
      align-items: center;
      background-color: rgb(167, 118, 95);
      opacity: 0.9;
    
  }
  .ff {
      color: yellow;
      padding: 25px;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      background-color: rgb(138, 68, 138);
    
      background-color: rgb(163, 32, 32);
      font-weight: bolder;
      font-family: 'Times New Roman', Times, serif;
      font-size: 180px;
      
  }
  .card {
      height: 12rem;
      margin-left: 80px;
      cursor: pointer;
      background-color:rgb(187, 127, 187);
  }
  .card:hover{
    transition: 3s;

  }
  .needs-validation {
      cursor: pointer;
  }
  .qq {
      font-size: larger;
      font-weight: bolder;
      text-align: center;
      color: chocolate;
  }
  .uu {
      background-color: cornflowerblue;
      
  }
  .fd {
      text-align: center;
      padding: 10px;
      background-color:cadetblue;
      position: fixed;
      bottom: 0;
      width: 100%;
  }
     
    


